*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --bg-color: #ededed;
    --second-bg-color: #dadada ;
    --text-color: #ededed;
    --main-color:         #c44494;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background: rgba(32, 32, 32, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

#menu-icon{
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}

.logo{
    font-size: 4rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
}

span{
    background: linear-gradient(
        270deg,
        #c44494 10%,
        #d17ebc 100%
    );
    background-clip: text;
    color: transparent;
}

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.gradient-btn{
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(
        270deg,
        #c44494 10%,
        #d17ebc 100%
    );
    letter-spacing: 1px; 
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color:  white;
    border: none;
    text-wrap: nowrap;
}

.gradient-btn:hover{
    transform: scale(1.05);
}

section{
    min-height: 100vh;
    padding: 10rem 15%;
}

.inicio-content p,
.sobremi-content p {
    font-size: 1.65rem;
    font-weight: 500;
    line-height: 1.8;
}

.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.inicio-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.inicio-content h1{
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.inicio-content h3{
    margin: 1rem 0;
    font-size: 4rem;
}

.redes-icons {
    display: flex;
    gap: 1rem; 
    justify-content: center; 
}

.redes-icons a img {
    width: 35px; 
    height: 35px;
    border-radius: 50%; 
    transition: transform 0.3s;
}

.redes-icons a img:hover {
    transform: scale(1.2); 
}



.btn-group{
    display: flex;
    gap: 1.5rem;
}

.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    box-shadow: var(--main-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: #FFFF;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out; 
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
}


.info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--second-bg-color);
}


.info-content h2{
    font-size: 10rem;
    text-align: left;
}

.info-content p{
    font-size: 2rem;
    margin: 5rem 0;
    text-align: left;
}

.info-content .btn{
    margin: 3rem 0;
}


.heading{
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;
}

.conocimiento-box {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: center;    
    margin-top: 20px;
}

.conocimiento-card {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    width: 300px; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.conocimiento-card img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}


.proyectos{
    background-color: var(--second-bg-color);
}

.proyectos-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: center;
    gap: 3rem;
    row-gap: 5rem;
}

.proyectos-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.3s ease;
}

.proyectos-card h3{
    font-size: 3rem;
}

.proyectos-card p{
    font-size: 1.6rem;
}


.contacto h2{
    margin-bottom: 3rem;
    
}

.contacto form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin:5rem 0;
    text-align: center;
}

.contacto form .input-box input,
.contacto form textarea{
    width:100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;    
}

.pie {
    background-color: var(--second-bg-color);
    padding: 50px 0;
}

.pie .social-icons{
    text-align: center;
}

.pie ul{
    text-align: center;
    font-size: 1.8rem;
}

.pie ul li{
    display: inline-block;
    margin-left: 20px;
}

.pie ul li a{
    color: black;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.pie ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}

@media(max-width: 1285px){

    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background-color: rgba(0, 0, 0, 0.8);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }

}